.card-group-container{
    width: 1024px; 
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-end;
    align-items: flex-end;

}

.card-group{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 20px;
}